body {
  color: rgb(255, 255, 255);
  background: #000000
}
h1 {
  text-align: center;
}
h4 {
  text-align: center;
  color: green;
}
h2 {
  text-align: center;
}
a {
  text-decoration: none;
  color: red;
}
.group-item {
  text-align: center;
}
